body {
    font-family: 'Arial Narrow', sans-serif;
    background-color: #fff6c5;
    margin: 0;
    color: #333;
}

header {
     background: linear-gradient(
        to right,
        #faf3dd,
        #ddead1,
        #a3b18a
    );
    text-align: center;
    padding: 3rem 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    color: #344e41;
    letter-spacing: 2px;
    text-shadow:
        1px 1px 0 #dad7cd,
        2px 2px 0 #a3b18a,
        3px 3px 6px rgba(0,0,0,0.25);
}

header p {
    font-size: 1.2rem;
    color: #3a5a40;
    margin-top: 0.5rem;
}

main {
    max-width: 700px;
    margin: auto;
    padding: 2rem;
}

.card {
    background-color: white;
    margin-bottom: 2rem;   
    padding: 1.5rem;       
    border-radius: 10px;
    border: 2px solid #3A5A40;
    text-align: center;
    box-shadow: 
        0 10px 25px rgba(0,0,0,0.15),
        0 5px 10px rgba(0,0,0,0.08);;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow:
        0 14px 30px rgba(0,0,0,0.2);
}

.introduction {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid #A3B18A;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.assignments h2{
    margin-top: 2rem;
}

.assignments-button {
    display: block;
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #3A5A40;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}

.assignments-button:hover {
    background-color: #a3b18a;
    transform: translateY(-2px);
}

h2 {
    color: #344e41;
    text-align: center;
    font-size: 2rem;
}

p {
    line-height: 1.6;
}

a {
    color: #a3b18a;
}